@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #191c1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  /* Design system colors */
  --color-surface-container-high: #e7e8e9;
  --color-on-surface: #191c1d;
  --color-error: #ba1a1a;
  --color-on-primary-fixed-variant: #0b513d;
  --color-on-background: #191c1d;
  --color-surface-dim: #d9dadb;
  --color-primary-fixed: #b0f0d6;
  --color-on-secondary-container: #5c6274;
  --color-surface-tint: #2b6954;
  --color-on-secondary: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-on-error-container: #93000a;
  --color-surface-bright: #f8f9fa;
  --color-primary: #003527;
  --color-surface: #f8f9fa;
  --color-inverse-surface: #2e3132;
  --color-secondary-fixed-dim: #c0c6db;
  --color-surface-container-highest: #e1e3e4;
  --color-inverse-on-surface: #f0f1f2;
  --color-inverse-primary: #95d3ba;
  --color-secondary-fixed: #dce2f7;
  --color-on-secondary-fixed: #141b2b;
  --color-surface-container-low: #f3f4f5;
  --color-on-primary-fixed: #002117;
  --color-secondary-container: #d9dff5;
  --color-secondary: #575e70;
  --color-error-container: #ffdad6;
  --color-primary-container: #064e3b;
  --color-tertiary-container: #3e4552;
  --color-on-secondary-fixed-variant: #404758;
  --color-surface-container: #edeeef;
  --color-outline-variant: #bfc9c3;
  --color-tertiary: #282f3b;
  --color-on-primary-container: #80bea6;
  --color-surface-variant: #e1e3e4;
  --color-on-primary: #ffffff;
  --color-on-tertiary-fixed: #151c27;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #404944;
  --color-primary-fixed-dim: #95d3ba;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #707974;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes toast-shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
